<!DOCTYPE html>
<html>
    <head>
        <title>Base Page</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'productlist' %}">Products</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Cart</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}            
        </ul>

        {% block content %}
        
        {% endblock %}
    </body>
</html>